@font-face {
  font-family: "Cafe24Meongi-W-v1.0";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ownglyph_UNZ-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/Ownglyph_UNZ-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Ownglyph_UNZ-Rg";
}

.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.todoTitle {
  font-family: "Cafe24Meongi-W-v1.0";
  font-size: 40px;
}
.todoForm {
  width: 200px;
  text-align: center;
}
